<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pessoa">
            <h2><span jhiTranslate="exemploVacinacaoApp.pessoa.detail.title">Pessoa</span> {{ pessoa.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="exemploVacinacaoApp.pessoa.nome">Nome</span></dt>
                <dd>
                    <span>{{ pessoa.nome }}</span>
                </dd>
                <dt><span jhiTranslate="exemploVacinacaoApp.pessoa.dataNascimento">Data Nascimento</span></dt>
                <dd>
                    <span>{{ pessoa.dataNascimento }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pessoa', pessoa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
