<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-doenca-heading" jhiTranslate="exemploVacinacaoApp.doenca.home.createOrEditLabel">Create or edit a Doenca</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exemploVacinacaoApp.doenca.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exemploVacinacaoApp.doenca.criado" for="field_criado">Criado</label>
                    <div class="d-flex">
                        <input id="field_criado" type="datetime-local" class="form-control" name="criado" formControlName="criado" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exemploVacinacaoApp.doenca.dataPrimeiroCaso" for="field_dataPrimeiroCaso">Data Primeiro Caso</label>
                    <div class="input-group">
                        <input id="field_dataPrimeiroCaso" type="text" class="form-control" name="dataPrimeiroCaso" ngbDatepicker #dataPrimeiroCasoDp="ngbDatepicker" formControlName="dataPrimeiroCaso"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataPrimeiroCasoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exemploVacinacaoApp.doenca.localPrimeiroCaso" for="field_localPrimeiroCaso">Local Primeiro Caso</label>
                    <div class="input-group">
                        <input id="field_localPrimeiroCaso" type="text" class="form-control" name="localPrimeiroCaso" ngbDatepicker #localPrimeiroCasoDp="ngbDatepicker" formControlName="localPrimeiroCaso"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="localPrimeiroCasoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
