<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fabricante">
            <h2><span jhiTranslate="exemploVacinacaoApp.fabricante.detail.title">Fabricante</span> {{ fabricante.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="exemploVacinacaoApp.fabricante.nome">Nome</span></dt>
                <dd>
                    <span>{{ fabricante.nome }}</span>
                </dd>
                <dt><span jhiTranslate="exemploVacinacaoApp.fabricante.criado">Criado</span></dt>
                <dd>
                    <span>{{ fabricante.criado }}</span>
                </dd>
                <dt><span jhiTranslate="exemploVacinacaoApp.fabricante.pais">Pais</span></dt>
                <dd>
                    <div *ngIf="fabricante.pais">
                        <a [routerLink]="['/pais', fabricante.pais?.id, 'view']">{{ fabricante.pais?.nome }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fabricante', fabricante.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
